.home-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-page-header {
  height: 15vh;
  flex-shrink: 0;
}

.home-page-comp {
  height: 75vh;
  flex-shrink: 0;
  overflow-y: auto;
}