.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "REM", sans-serif;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.footer-icons .icon {
  width: 20px;
  height: 20px;
}

/* default text */
.footer-title {
  font-size: 12px;
  line-height: 1;
  margin-top: 4px;
  color: #777;
}

/* active text */
.active-footer {
  font-size: 12px;
  line-height: 1;
  margin-top: 4px;
  color: #2051E5;
  font-weight: 600;
}