.lead-form-wrapper {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-form {
    width: 600px;
    max-height: 90vh;
    border: 1px solid #000;
    border-radius: 16px;
    background-color: #fff;
    padding: 20px;
}

.title-p {
    font-weight: 500;
    font-size: 13px;
    height: 0;
}

.leads-form {
    padding-left: 20px;
}

.leads-form p {
    font-size: 10px;
    padding: 0
}

.save-btn {
    border-radius: 12px;
    color: #636060;
    background-color: #D9D9D9;
    border-color: transparent;
    padding: 8px 50px;
    font-weight: bold;
    text-align: center;
    align-self: flex-start;
}