.scheduled-leads {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    border-radius: 16px;
    padding: 5px 20px;
}

.l-id {
    font-size: 11px;
}

.l-source {
    font-size: 14px;
}

.scheduled-date p {
    font-size: 13px;
}

.call p {
    font-size: 11px;
}

.referral-date {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.call-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lead-name {
    display: flex;
    align-items: center;
    gap: 20px;
}


.loc-icon {
    width: 20px;
    height: 22px;
}

.name-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(233, 222, 214);
    color: rgb(160, 91, 86);
}


.l-name {
    font-weight: 400;
    font-size: 14px;
}