.schedule-filter-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 155px;
  right: 40px;
  z-index: 10;
  background-color: #fff;
  padding: 7px 20px;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  color: #42526D;
}

.schedule-filter-select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #8a8a8a;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  outline: none;
  color: #8a8a8a;
  background-color: #fff;
}