.navbar {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
    height: 100vh;
}

.logo {
    display: flex;
    padding: 16px 20px;
}

.first-word {
    font-weight: bold;
}

.second-word {
    color: #0003D0;
    font-weight: bold;
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.nav-item {
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out
}

.nav-item:hover {
    background-color: #A7A7A7;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.nav-line {
    width: 100%;
    height: 2px;
}