.search-comp {
    display: flex;
    padding: 15px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ECECEC;
    color: #636060;
    border-radius: 16px;
    ;
    padding: 7px;
    width: 50%;
}

.search-input {
    width: 100%;
    background-color: inherit;
    border-color: transparent;
    font-family: "REM", sans-serif;
    font-size: 16px;
}

.search-icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}